body, html {
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666
}

#hero-1, #hero-2, #hero-3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* fixed = parallax
     scroll = normal */
    background-attachment: fixed;
}
#hero-1 {
    background-image: url(img/Parallax1.jpg);
    min-height: 600px;
}

#hero-2 {
    background-image: url(img/Parallax2.jpg);
    min-height: 600px;
}

#hero-3 {
    background-image: url(img/Parallax3.jpg);
    min-height: 600px;
}

.normalscroll {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: lightgray;
    color: #666;
}

.section-dark {
    background-color: darkslategrey;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptex, .borda {
    background-color: #111;
    color: white;
    padding: 20px;
}

@media(max-width: 568px) {
    #hero-1, #hero2, #hero3 {
        background-attachment: scroll;
    }
}